* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(227, 227, 241);
    color: #937373;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  h2 {
    display: block;
  }

  #main-div {
    /* border: 1px solid red; */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
  } 

  #secondary-div {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px; 
  }
  
  #text-input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #convert-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(28, 185, 86);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #tips {
    max-width: 300px;
    margin-top: 20px;
  }

  #check-btn {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #a9fff969;
    padding: 10px;
    color: #937373
  }

  #check-btn:hover{
    cursor: pointer;
    background-color: #48addf75;
  }